<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        
        <title>Apartment Awesome</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css">

        <script type="text/javascript" src="{{ STATIC_URL }}/script/prototype.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div id="blackboard" class="x-blackboard"></div>
        
    </body>
</html>
